# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.opensdf
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
bin/
tmp/
.vs/
Debug/
Release/

# Build
/acinclude.m4
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/configure.ac
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.fragments
/Makefile.global
/Makefile.objects
/missing
/mkinstalldirs
/run-tests.php
yaconf.la
*.lo
yaconf.lai
/autom4te.cache
/build